.charts-container {
    min-height: 30rem;
}

.globalbarchart-container {
    display: flex;
    justify-content: center;
    width: 97vw;
    margin: 0.8rem;
}

.pie-container{
    width: 25rem;
    margin: 2rem 0;
}

.bar-container {
    width: 49.8rem;
    margin: 2rem 0;
}