.charts-container {
    min-height: 30rem;
}

.linechart-container {
    display: flex;
    justify-content: center;
    width: 65rem;
}

.toggle-section {
    border: 1px solid pink;
}

.pie-container{
    width: 25rem;
}

.bar-container {
    width: 49.7rem;
}