.cards-container {
    margin: 50px 0;
}

#cards {
    margin: 0 2%;
    /* padding: 0; */
}

.cards-container {
    margin: 50px 0;
}

.card-infected  {
    border-top: 12px solid #a3a3f8;
}

.card-recovered  {
    border-top: 12px solid #83bb83;
}

.card-deaths  {
    border-top: 12px solid #f48c8c;
}

